

<mwl-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate"
  (viewDateChange)="fetchEvents()"
  (viewChange)="fetchEvents()"
  
    (viewDateChange)="updateCalendarEvents()"
  (viewChange)="updateCalendarEvents()">
</mwl-demo-utils-calendar-header>

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading events...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-day-view>
  </div>
</div>

<!--

<div class="cube">
<mwl-demo-utils-calendar-header
  [(view)]="view"
   [(viewDate)]="viewDate"
     (viewDateChange)="fetchEvents()"
  (viewChange)="fetchEvents()">
   >
</mwl-demo-utils-calendar-header>


<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="calendarEvents" >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="calendarEvents">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="calendarEvents">
  </mwl-calendar-day-view>
</div>

<button (click)="testClick()">test</button>

</div>
<br>
<br>
<br>

<div class="cuadro">


<div class="container">
	<div id="employeeTable" class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre </th>
					<th>Apellido </th>
					<th>Fecha de Contratacion </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let employee of test | orderBy"[class.selected]="employee === selectedEmployee" >
					<td>{{employee.first_name}}</td>
					<td>{{employee.last_name}}</td>
					<td (click)="test()">{{employee.admission_date}}</td>
				
				</tr>
			</tbody>
		</table>
	</div>
</div>

</div>

-->