<body>

	<br>
<legend>Cargos de la Empresa</legend>

<form (ngSubmit)="createArea(area)" #postForm='ngForm'>

<div class="container" id="general">
	<div class="row">
		<form class="form-horizontal">
<fieldset>

<br>


<div class="form-group">
  <label class="col-md-4 control-label" for="inputPositionName">Nombre del Cargo</label>  
  <div class="col-md-4">
  <input id="namePosition" type="text" class="form-control input-md" placeholder="Ingrese el nombre del cargo aquí" #position_name='ngModel'
             [(ngModel)]='position.position_name' name="namePosition">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary" id="setArea" (click)="loadAreas()">Guardar</button>
  </div>
</div>

</fieldset>

		</form>
	</div>
</div>

</form>



<div class="container">
	<div class="page-header"> <h3>Lista de Cargos</h3></div>
	<div id="positionTable" class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre del Cargo</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let position of positions" [class.selected]="position === selectedPositions" (click)="onSelect(position)">
					<td>{{position.position_name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div *ngIf="selectedPosition">




