* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}



body {
 
  font-size:15px;
  line-height:1.42857143;
  color:#777777;
  background-color:#ffffff;
}

#general {
    border: 1px solid #e9e6e8;
    box-shadow: 5px 5px 2px grey;
}

#areaTable {
     overflow:scroll;
     height:300px;
     width:100%;
}

tr:hover td {
  cursor: pointer;
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}



#title{
  margin-top: 0px;
  background: transparent;
  color:#22262e;
  margin-bottom: 80px;
  font-family: Helvetica;
}



h1{
  text-align: center;
  margin-bottom: 1px;
  font-size: 28px;
}

hr{
  margin-top: 2px;
  margin-bottom: 2px;
}

#first{
  width:25%;
  border-width:4px;
  border-color: #22262e;
 
}

#second{
  
   width:20%;
  border-width:3px;
  border-color: #22262e;
}

.panel-table .panel-body {
  padding:0;
}

.panel-table .panel-body .table-bordered {
  border-style:none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
  text-align:center;
  width:100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type, .panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right:0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type, .panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left:0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
  border-bottom:0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
  border-top:0px;
}

.panel-table .panel-footer .pagination {
  margin:0;
}

.panel-table .panel-footer .col {
  line-height:34px;
  height:34px;
}

.panel-table .panel-heading .col h3 {
  line-height:30px;
  height:30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td {
  line-height:34px;
}

