* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


body {
 
  font-size:15px;
  line-height:1.42857143;
  color:#777777;
  background-color:#E2E7E4;
}

#title{
  margin-top: 80px;
  background: white;
  color:#22262e;
  margin-bottom: 50px;
  font-family: Helvetica;
  border-bottom-width: 2px;
  border-bottom-color: #7A7C7B;
  border-bottom-style:solid;
}



#general {
    border: 1px solid #e9e6e8;
    box-shadow: 5px 5px 2px grey;
}

#conceptHeader {
    border: 5px solid;
}

#conceptFooter {
     overflow:scroll;
     height:300px;
     width:100%;
}

tr:hover td {
  cursor: pointer;
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}





h1{
  text-align: center;
  margin-bottom: 1px;
  font-size: 28px;
}

hr{
  margin-top: 2px;
  margin-bottom: 2px;
}

#first{
  width:25%;
  border-width:4px;
  border-color: #22262e;
 
}

#second{
  
   width:20%;
  border-width:3px;
  border-color: #22262e;
}