div#about.container-fluid {
  background:#363d55;
  color:white;
}

div#team.container-fluid {
  background:rgb(239,239,255);
}

body {
  margin:0;
  background:rgb(239,239,255);
}

p {
}

div.thumbnail {
  background:rgb(239,239,255);
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display:block;
  max-width:100%;
  height:auto;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display:block;
  max-width:100%;
  height:auto;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display:block;
  max-width:100%;
  height:auto;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display:block;
  max-width:100%;
  height:auto;
}

.thumbnail a > img, .thumbnail > img {
  margin-right:auto;
  margin-left:auto;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display:block;
  max-width:100%;
  height:auto;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display:block;
  max-width:100%;
  height:auto;
}

.thumbnail a > img, .thumbnail > img {
  margin-right:auto;
  margin-left:auto;
}

.thumbnail a > img, .thumbnail > img {
  margin-right:auto;
  margin-left:auto;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display:block;
  max-width:100%;
  height:auto;
}

.img-circle {
  border-radius:50%;
}

.img-circle {
  border-radius:50%;
}

img {
  vertical-align:middle;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.thumbnail {
  display:block;
  padding:4px;
  margin-bottom:20px;
  line-height:1.42857143;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:4px;
  -webkit-transition:border .2s ease-in-out;
  -o-transition:border .2s ease-in-out;
  transition:border .2s ease-in-out;
}

.thumbnail {
  display:block;
  padding:4px;
  margin-bottom:20px;
  line-height:1.42857143;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:4px;
  -webkit-transition:border .2s ease-in-out;
  -o-transition:border .2s ease-in-out;
  transition:border .2s ease-in-out;
}

body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#fff;
}

body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#fff;
}

html {
  font-family:sans-serif;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

html {
  font-size:10px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

