<div class="container-fluid" id="about">
  <h1 class="text-center">About</h1>
  <p>NominaUN es una aplicación para administrar de forma fácil e intuitiva la nómina de su empresa. Cuenta con dos módulos: uno para el empleador, donde se administra todo el sistema (registro de empleados, fondos, liquidaciones, reportes y demás procesos operativos); uno para el empleado, donde se permite al usuario consultar sus pagos y registrar sus incapacidades.</p> <br>
</div>
<div class="container">
  <h1 class="text-center">Team</h1>
  <div class="row">
    <div class="col-md-4"> 
      <div class="card hovercard">
        <div class="cardheader">
          <div class="ov" style="background-color:rgba(236, 58, 13, 0.7)"></div>
        </div>
        <div class="avatar">
          <img alt="" src="/assets/fotos/2.png">
        </div>
        <div class="info">
          <div class="title">
            <h3>Andrés Ceballos</h3>
          </div>
          <div class="desc">Scrum Master, Desarrollador Full Stack</div>
          <div class="desc">afceballosr@unal.edu.co</div>
        </div>
        <div class="bottom" style="background-color:rgb(139, 34, 8)"></div>
      </div>
    </div>
    <div class="col-md-4">            
      <div class="card hovercard">
        <div class="cardheader">
          <div class="ov" style="background-color:rgba(13, 202, 236, 0.7)"></div>
        </div>
        <div class="avatar">
          <img alt="" src="/assets/fotos/4.png">
        </div>
        <div class="info">
          <div class="title">
            <h3>Osmar Castillo</h3>
          </div>
          <div class="desc">Desarrollador Backend</div>
          <div class="desc">oacastillol@unal.edu.co</div>
        </div>
        <div class="bottom" style="background-color:rgb(6, 66, 177)"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card hovercard">
        <div class="cardheader">
          <div class="ov" style="background-color:rgba(99, 123, 134, 0.7)"></div>
        </div>
        <div class="avatar">
          <img alt="" src="/assets/fotos/1.png">
        </div>
        <div class="info">
          <div class="title">
            <h3>Diego Salgado</h3>
          </div>
          <div class="desc">Desarrollador Backend</div>
          <div class="desc">dasalgadob@unal.edu.co</div>
        </div>
        <div class="bottom" style="background-color:rgb(56, 69, 76)"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card hovercard">
        <div class="cardheader">
          <div class="ov" style="background-color:rgba(25, 137, 47, 0.7)"></div>
        </div>
        <div class="avatar">
          <img alt="" src="/assets/fotos/5.jpg">
        </div>
        <div class="info">
          <div class="title">
            <h3>Diego Hincapie</h3>
          </div>
          <div class="desc">Desarrollador Frontend</div>
          <div class="desc">dfhincapiem@unal.edu.co</div>
        </div>
        <div class="bottom" style="background-color:rgb(7, 89, 24)"></div>
      </div>
    </div>
    <div class="col-md-4">  
      <div class="card hovercard">
        <div class="cardheader" >
          <div class="ov" style="background-color:rgba(241, 159, 8, 0.7)"></div>
        </div>
        <div class="avatar">
          <img alt="" src="/assets/fotos/3.png">
        </div>
        <div class="info">
          <div class="title">
            <h3>Fabián Bernal</h3>
          </div>
          <div class="desc">Desarrollador Frontend</div>
          <div class="desc">fmbernalb@unal.edu.co</div>
        </div>
        <div class="bottom" style="background-color:rgb(216, 143, 7)"></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card hovercard">
        <div class="cardheader">
          <div class="ov" style="background-color:rgba(237, 22, 22, 0.7)"></div>
        </div>
        <div class="avatar">
          <img alt="" src="/assets/fotos/6.jpg">
        </div>
        <div class="info">
          <div class="title">
            <h3>Camilo Peña</h3>
          </div>
          <div class="desc">Desarrollador Frontend</div>
          <div class="desc">capenap@unal.edu.co</div>
        </div>
        <div class="bottom" style="background-color:rgb(99, 7, 7)"></div>
      </div>
    </div>
  </div>
</div>