<body>
<!--

  <h1>Areas de la Empresa</h1>
  <form (ngSubmit)="createArea(area)" #postForm='ngForm'>

    <div class="form-group">
      <label for="inputAreaName">Nombre del Area:</label>
      <input id="nameArea" type="text" class="form-control" placeholder="Ingrese el nombre del area aquí" #area_name='ngModel'
             [(ngModel)]='area.area_name' name="nameArea">
    </div>

    <button type="submit" class="btn btn-primary" id="setArea" (click)="loadAreas()">Guardar</button>
     </form>
-->

    <!-- <button type="submit" class="btn btn-danger" (click)="onClick($event)" id="deleteArea">Eliminar</button
      -->
    <!--
     <div class="form-group">
         <label for="inputAreaName">Nombre del Area:</label>
         <input id="nameArea" type="text" class="form-control" placeholder="Ingrese el nombre del area aquí">
     </div>
     <button type="submit" class="btn btn-primary" (click)="onClick($event)" id="setArea">Guardar</button>
     <button type="submit" class="btn btn-danger" (click)="onClick($event)" id="deleteArea">Eliminar</button>
         -->
<br>
<legend>Areas de la Empresa</legend>

<form (ngSubmit)="createArea(area)" #postForm='ngForm'>

<div class="container" id="general">
	<div class="row">
		<form class="form-horizontal">
<fieldset>

<br>


<div class="form-group">
  <label class="col-md-4 control-label" for="inputAreaName">Nombre del Area</label>  
  <div class="col-md-4">
  <input id="nameArea" placeholder="Ingrese el nombre del area aquí" class="form-control input-md" required="" type="text" #area_name='ngModel'
             [(ngModel)]='area.area_name' name="nameArea">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary" id="setArea" (click)="loadAreas()">Guardar</button>
  </div>
</div>

</fieldset>

		</form>
	</div>
</div>

</form>


<br>
<legend>Lista de Areas Actuales</legend>


<div class="container" id="fondFooter">
	<div id="fondTable" class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre del Area</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let area of areas" [class.selected]="area === selectedArea" (click)="onSelect(area)">
              <td>{{area.area_name}}</td>
            </tr>
			</tbody>
		</table>
	</div>
</div>



<!--
  
    <div *ngIf="selectedArea">

-->

</body>