* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body {
 
  font-size:15px;
  line-height:1.42857143;
  color:#3D3E3D;
  background-color:#E2E7E4;
}

#title{
  margin-top: 80px;
  background: white;
  color:#22262e;
  margin-bottom: 50px;
  font-family: Helvetica;
  border-bottom-width: 2px;
  border-bottom-color: #7A7C7B;
  border-bottom-style:solid;
}

.container{
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#noveltyCont {
    border: 1px solid #e9e6e8;
    padding-top: 15px;
	padding-bottom: 10px;
}

#noveltyTable {
    overflow:scroll;
    height:300px;
    width:100%;
	border: 3px solid #e9e6e8;
}

tr:hover td {
	cursor: pointer;
	background:#4E5066;
	color:#FFFFFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}

form.selected,
tr.selected,
tr.selected td{
	background: rgba(51, 122, 183, 0.15);
}



h1{
  text-align: center;
  margin-bottom: 1px;
  font-size: 28px;
}

h2{
  text-align: center;
  margin-bottom: 5px;
  font-size: 25px;
}

hr{
  margin-top: 2px;
  margin-bottom: 2px;
}

#first{
  width:25%;
  border-width:4px;
  border-color: #22262e;
 
}

#second{
  
   width:20%;
  border-width:3px;
  border-color: #22262e;
}



tr:hover td {
  cursor: pointer;
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
