
<h3 align="center">Detalles de empleado</h3>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="row">
      <div class="col-md-10">
        <form class="form-horizontal" (ngSubmit)="updateEmployee(employee)" #postForm='ngForm'>
          <div class="form-group">
		    <label class="col-sm-2 control-label">Tipo de documento:</label>
            <div class="col-sm-4">
              <select class="form-control" [(ngModel)]="employee.document_type" [ngModelOptions]="{standalone: true}">
                <option>CC</option>
              </select>
            </div>
            <label class="col-sm-2 control-label">C.C.</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" [(ngModel)]="employee.document_number" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Primer Nombre:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="employee.first_name" [ngModelOptions]="{standalone: true}">
            </div>
            <label class="col-sm-2 control-label">Segundo nombre:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="employee.other_name" [ngModelOptions]="{standalone: true}" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Primer Apellido:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="employee.last_name" [ngModelOptions]="{standalone: true}" >
            </div>
            <label class="col-sm-2 control-label">Segundo apellido:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="employee.second_surname" [ngModelOptions]="{standalone: true}" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha de nacimiento:</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" [(ngModel)]="employee.birthdate" [ngModelOptions]="{standalone: true}">
            </div>
            <label class="col-sm-2 control-label">Lugar de nacimiento:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="employee.birthplace" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Dirección:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="employee.address" [ngModelOptions]="{standalone: true}">
            </div>
            <label class="col-sm-2 control-label">Teléfonos:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" [(ngModel)]="employee.phones" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-4">
              <input type="email" class="form-control" [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}">
            </div>
            <label class="col-sm-2 control-label">Fecha de contratación:</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" [(ngModel)]="employee.admission_date" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Salario:</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" [(ngModel)]="employee.salary" [ngModelOptions]="{standalone: true}">
            </div>
			<label class="col-sm-2 control-label">Tipo de contrato:</label>
            <div class="col-sm-4">
              <select class="form-control" [(ngModel)]="employee.contract" [ngModelOptions]="{standalone: true}">
                <option>Fijo</option>
				<option>Indefinido</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Área:</label>
            <div class="col-sm-4">
              <select class="form-control" [(ngModel)]="employee.area_id" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let area of areas"
                  [value]="area.id"
                  [selected]="area.id == employee.area.id"
                >{{area.area_name}}</option>
              </select>
            </div>
            <label class="col-sm-2 control-label">Cargo:</label>
            <div class="col-sm-4">
              <select class="form-control" [(ngModel)]="employee.position_id" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let position of positions"
                  [value]="position.id"
                  [selected]="position.id == employee.position.id"
                >{{position.position_name}}</option>
              </select>
            </div>
          </div>       
		  <div class="form-group">
            <label class="col-sm-2 control-label">ARL:</label>
            <div class="col-sm-4">
              <select class="form-control" >
                 <option *ngFor="let arl of arls"
                  [value]="arl.id"
                >{{arl.business_name}}</option>
              </select>
            </div>
			<label class="col-sm-2 control-label">Porcentaje de riesgo:</label>
            <div class="col-sm-4">
              <select class="form-control">
                <option>0.522</option>
        				<option>1.044</option>
        				<option>2.436</option>
        				<option>4.350</option>
        				<option>6.960</option>
              </select>
            </div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label">EPS:</label>
            <div class="col-sm-4">
              <select class="form-control">
                <option *ngFor="let eps of epss"
                  [value]="eps.id"
                >{{eps.business_name}}</option>
              </select>
            </div>
			<label class="col-sm-2 control-label">Caja de compensación:</label>
            <div class="col-sm-4">
              <select class="form-control" >
                <option *ngFor="let caja of cajaComps"
                  [value]="caja.id"
                >{{caja.business_name}}</option>
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label">Fondo de cesantias:</label>
            <div class="col-sm-4">
              <select class="form-control" >
                <option *ngFor="let cesantia of cesantias"
                  [value]="cesantia.id"
                >{{cesantia.business_name}}</option>
              </select>
            </div>
			<label class="col-sm-2 control-label">Fondo de pensiones:</label>
            <div class="col-sm-4">
              <select class="form-control" >
                <option *ngFor="let pension of pensiones"
                  [value]="pension.id"
                >{{pension.business_name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Recibe auxilio de transporte:</label>
            <div class="col-sm-1">
              <input type="checkbox" class="form-control" [(ngModel)]="employee.transport_aid" [ngModelOptions]="{standalone: true}">
            </div>
            <label class="col-sm-2 control-label">Salario integral:</label>
            <div class="col-sm-1">
              <input type="checkbox" class="form-control" [(ngModel)]="employee.integral_salary" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary pull-right">Guardar cambios</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
