  <h3 align="center">Detalle de usuario</h3>

  <div class="row">
  	<div class="col-md-10 col-md-offset-2">
  		<div class="row">
  			<div class="col-md-4">
  			{{ employee | json }}
  				<form class="form-horizontal">
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Nombre:</label>
  						<div class="col-sm-8">
							<input type="text" class="form-control" >
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Apellido:</label>
  						<div class="col-sm-8">
  							<input type="text" class="form-control" >
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">C.C.</label>
  						<div class="col-sm-8">
  							<input type="text" class="form-control">
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Dirección:</label>
  						<div class="col-sm-8">
  							<input type="text" class="form-control">
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Telefono:</label>
  						<div class="col-sm-8">
  							<input type="text" class="form-control">
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Email:</label>
  						<div class="col-sm-8">
  							<input type="email" class="form-control">
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Cargo:</label>
  						<div class="col-sm-8">
  							<select class="form-control">
  								<option>opcion 1</option>
  							</select>
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Salario:</label>
  						<div class="col-sm-8">
  							<input type="text" class="form-control">
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Cesantias:</label>
  						<div class="col-sm-8">
  							<select class="form-control">
  								<option>opcion 1</option>
  							</select>
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Caja de compensación:</label>
  						<div class="col-sm-8">
  							<select class="form-control">
  								<option>opcion 1</option>
  							</select>
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Salud:</label>
  						<div class="col-sm-8">
  							<select class="form-control">
  								<option>opcion 1</option>
  							</select>
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Fecha de contratación:</label>
  						<div class="col-sm-8">
  							<input type="date" class="form-control">
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Fecha final de liquidación:</label>
  						<div class="col-sm-8">
  							<input type="date" class="form-control">
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Tipo de contrato:</label>
  						<div class="col-sm-8">
  							<input type="text" class="form-control">
  						</div>
  					</div>
  					<div class="form-group">
  						<label class="col-sm-4 control-label">Tipo de contrato:</label>
  						<div class="col-sm-8">
  							<label class="radio-inline">
							  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
							</label>
							<label class="radio-inline">
							  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
							</label>
  						</div>
  					</div>
  					<div class="form-group">
  						<div class="col-sm-offset-2 col-sm-10">
  							<button type="submit" class="btn btn-default">Guardar cambios</button>
  						</div>
  					</div>
  				</form>
  			</div>
  			<div class="col-md-4 col-md-offset-2">
  				<img src="http://lorempixel.com/400/400/" alt="">

  			</div>
  		</div>
  	</div>
  </div>