<footer>
    <div class="row">
        <div class="col-md-4 col-sm-6 footer-navigation">
            <span><img class="img" src="/assets/fotos/escudoUnal.png"> </span>
            
        </div>
        <div class="col-md-4 col-sm-6 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">Universidad Nacional de Colombia</span><br>Bogotá D.C.</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">+57 3165766065</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">afceballosr@unal.edu.co</a></p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 footer-about">
            <h4>Ingenieria de Software II - Periodo 2017-II - Grupo 2</h4>
            <p>NominaUN</p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>