<h1>Parámetros Generales de la Empresa</h1>
<div class="container" id="general">
	<form>
		<div class="form-group">
			<br>
			<label for="inputRound">Redondeo:</label>
			<select id="roundGeneral">
 				<option>Unidades</option>
				<option>Decenas</option>
				<option>Centenas</option>
				<option>Miles</option>
			</select><br>
			<label for="inputLaboral">Días Laborales:</label>
			<input id="laboralGeneral" type="number" class="form-control"><br>
			<label for="inputPayday">Tipo de Liquidación:</label>
			<select id="paydayGeneral">
 				<option>Quincenal</option>
				<option>Mensual</option>
			</select><br>
			<label for="inputIntegral">Base para Salario Integral:</label>
			<select id="integralGeneral">
 				<option>70%</option>
				<option>1.3</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
</div>
