<br>

<legend>Parámetros Generales de la Empresa</legend>

<div class="container" id="general">
	<div class="row">
		<form class="form-horizontal">
<fieldset>

<br>




<div class="form-group">
  <label class="col-md-4 control-label" for="inputRound">Redondeo</label>
  <div class="col-md-6">
    <select id="roundGeneral" class="form-control">
      <option value="Unidades">Unidades</option>
      <option value="Decenas">Decenas</option>
	  <option value="Centenas">Centenas</option>
	  <option value="Miles">Miles</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="inputLaboral">Dias Laborales</label>  
  <div class="col-md-4">
  <input id="laboralGeneral" placeholder="Numero de dias laborales" class="form-control input-md" required="" type="number">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="inputPayday">Tipo de Liquidación</label>
  <div class="col-md-6">
    <select id="paydayGeneral" class="form-control">
      <option value="Quincenal">Quincenal</option>
      <option value="Mensual">Mensual</option>
	</select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="inputIntegral">Base para Salario Integral</label>
  <div class="col-md-6">
    <select id="integralGeneral" class="form-control">
      <option value="70%">70%</option>
      <option value="1.3">1.3</option>
	</select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary" (click)="onClick($event)" id="setGeneral">Guardar</button>
  </div>
</div>

</fieldset>

		</form>
	</div>
</div>