<div class="container" id="fondCont">
	<h1>Fondos de la Empresa</h1>
	<form (ngSubmit)="createFond(fond)" #postForm='ngForm'>
		<div class="form-group">
			<label for="inputFondDocType">Tipo Documento del fondo</label>  
			<select id="docTypeFond" class="form-control" #document_type='ngModel' [(ngModel)]='fond.document_type' name="docTypeFond">
				<option>NIT</option>
			</select>				
		</div>	
		<div class="form-group">
			<label for="inputFondDocNumber">Número Documento del fondo</label>  
			<input id="docNumberFond" placeholder="Ingrese el documento del fondo" class="form-control input-md" required="" type="number" #document_number='ngModel'
				[(ngModel)]='fond.document_number' name="docNumberFond">	
		</div>
		<div class="form-group">
			<label for="inputFondName">Razón Social del fondo</label>  
			<input id="nameFond" placeholder="Ingrese el nombre del fondo" class="form-control input-md" required="" type="text" #business_name='ngModel'
				[(ngModel)]='fond.business_name' name="nameFond">		
		</div>
		<div class="form-group">
			<label for="inputFondType">Tipo de Fondo</label>
			<select id="typeFond" class="form-control" #fond_type='ngModel' [(ngModel)]='fond.fond_type' name="typeFond">
				<option>Aseguradora de Riesgos Laborales</option>
				<option>Caja de Compensación</option>
				<option>Entidad Promotora de Salud</option>
				<option>Fondo de Cesantías</option>
				<option>Fondo de Pensiones</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary" id="setFond" (click)="loadFonds()">Guardar</button>
	</form>
</div>
<div class="container">
	<div class="page-header"> <h3>Seleccionar un fondo para ver detalles</h3></div>
		<div id="fondTable" class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tipo Doc.</th>
					<th>Número Doc.</th>
					<th>Razón Social</th>
					<th>Tipo</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let fond of fonds" [class.selected]="fond === selectedFond" (click)="onSelect(fond)">
					<td>{{fond.document_type}}</td>
					<td>{{fond.document_number}}</td>
					<td>{{fond.business_name}}</td>
					<td>{{fond.fond_type}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div *ngIf="selectedFond">