<div routerLinkActive="active" *ngIf="isLoggedIn()">
	<nav class="navbar navbar-inverse navbar-fixed-top" id="header">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand navbar-link">NominaUN</a>
        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar">
          <li role="presentation">
            <a [routerLink]="['/inicio']">Inicio</a>
          </li> 
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="Parámetros" role="button" aria-haspopup="true" aria-expanded="false">
              Parámetros
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li role="presentation"><a [routerLink]="['/general-parameters']">Parámetros Generales</a></li>
              <li role="presentation"><a [routerLink]="['/areas']">Areas</a></li>
              <li role="presentation"><a [routerLink]="['/positions']">Cargos</a></li>
              <li role="presentation"><a [routerLink]="['/fonds']">Fondos</a></li>
              <li role="presentation"><a [routerLink]="['/concepts']">Conceptos</a></li>
            </ul>
          </li>
          <li role="presentation"><a [routerLink]="['/employees']">Empleados</a></li>
          <li role="presentation"><a [routerLink]="['/novelties']">Novedades</a></li>
          <li role="presentation"><a [routerLink]="['/liquidations']">Liquidaciones</a></li>
          <li role="presentation"><a [routerLink]="['/statistics']">Estadísticas</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a (click)="logOut()">Log Out</a></li> 
        </ul>
      </div>
    </div>
  </nav>
</div>