#header {
	
	margin:auto;
	width:100%;
}

ul, ol {
	list-style:none;
}

.nav > li {
	float:left;
}

.nav li a {
	
	
	display:block;
	padding-left:-20px;
	padding-right:-20px;
	text-decoration:none;
}

.nav li ul {
	display:none;
	left:-30px;
	min-width:180px;
	position:absolute;
}

.nav li:hover > ul {
	display:block;
}

body {
	margin-bottom: 0px;
}