<br>

<legend>Fondos de la Empresa</legend>

<div class="container" id="general">
	<div class="row">
		<form class="form-horizontal">
<fieldset>

<br>

<div class="form-group">
  <label class="col-md-4 control-label" for="inputConceptName">Nombre del Concepto</label>  
  <div class="col-md-4">
  <input id="nameConcept" type="text" class="form-control input-md" placeholder="Ingrese el nombre del concepto aquí">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="inputConceptCategory">Categoria del Concepto</label>  
  <div class="col-md-4">
  <input id="categoryConcept" type="text" class="form-control input-md" placeholder="Ingrese la categoría del concepto aquí">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary" (click)="onClick($event)" id="setGeneral">Guardar</button>
	<button type="submit" class="btn btn-danger" (click)="onClick($event)" id="deleteFond">Eliminar</button>
  </div>
</div>



</fieldset>

		</form>
	</div>
</div>


<br>
<legend>Lista de conceptos actuales</legend>

<div class="container" id="conceptFooter">
	<div id="conceptTable" class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre del Concepto</th>
					<th>Categoría</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let concept of concepts.data" [class.selected]="concept === selectedConcept" (click)="onSelect(concept)">
					<td>{{concept.concept_name}}</td>
					<td>{{concept.category}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div *ngIf="selectedConcept">
















	