<h1>Liquidaciones de la Empresa</h1>
<div class="container" id="masterHeader">
	<form (ngSubmit)="createPaydayMaster(liquidation)" #postForm='ngForm'>
		<div class="form-group">
			<br>
			<label for="inputType">Tipo de liquidación:</label>
			<select id="typeMaster" [(ngModel)]="liquidation.payday_type" [ngModelOptions]="{standalone: true}">
 				<option>Nómina</option>
				<option>Prima</option>
				<option>Cesantías</option>
				<option>Intereses de Cesantias</option>
			</select><br>
			<label for="inputDate">Fecha:</label>
			<input id="dateMaster" type="datetime-local" class="form-control" [(ngModel)]="liquidation.payday_date" [ngModelOptions]="{standalone: true}"><br>
			<input id="descMaster" type="text" class="form-control hidden" value="0" [(ngModel)]="liquidation.description" [ngModelOptions]="{standalone: true}"><br>
		</div>
		<button type="submit" class="btn btn-primary" id="setLiquidation" (click)="loadLiquidations()">Liquidar</button>
	</form>
</div>
<div class="page-header"> <h3>Ver liquidaciones recientes</h3></div>
<div class="container" id="masterFooter">
	<div id="masterTable" class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let liquidation of liquidations" [class.selected]="liquidation === selectedLiquidation" (click)="onSelect(liquidation)">
					<td>{{liquidation.payday_type}}</td>
					<td>{{liquidation.payday_date}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div *ngIf="selectedLiquidation">