<h1>Liquidaciones de la Empresa</h1>
<div class="container" id="masterHeader">
	<form>
		<div class="form-group">
			<br>
			<label for="inputType">Tipo de liquidación:</label>
			<select id="typeMaster">
 				<option>Nómina</option>
				<option>Prima</option>
				<option>Cesantías</option>
				<option>Intereses de Cesantias</option>
			</select><br>
			<label for="inputArea">Area:</label>
			<select id="areaMaster">
 				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select><br>
			<label for="inputDate">Fecha:</label>
			<input id="dateMaster" type="datetime-local" class="form-control"><br>
		</div>
		<button type="submit" class="btn btn-primary">Liquidar</button>
	</form>
</div>
<div class="page-header"> <h3>Ver liquidaciones recientes</h3></div>
<div class="container" id="masterFooter">
	<div id="masterTable" class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let liquidation of liquidations.data" [class.selected]="liquidation === selectedLiquidation" (click)="onSelect(liquidation)">
					<td>{{liquidation.payday_type}}</td>
					<td>{{liquidation.payday_date}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div *ngIf="selectedLiquidation">