




<div id="title">
	<br>
<h1>LIQUIDACIONES</h1>
<hr id="first">
<hr id="second">
</div>

<div class="container" id="general">
	<div class="row">
		<form class="form-horizontal">

<fieldset>

<br>




<div class="form-group">
  <label class="col-md-4 control-label" for="inputType">Tipo de liquidación</label>
  <div class="col-md-6">
    <select id="typeMaster" class="form-control input-md">
     <option>Nómina</option>
	 <option>Prima</option>
	 <option>Cesantías</option>
	 <option>Intereses de Cesantias</option>
	</select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="inputType">Area</label>
  <div class="col-md-6">
    <select id="typeMaster" class="form-control input-md">
     <option>1</option>
	 <option>2</option>
	 <option>3</option>
	 <option>4</option>
	</select>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="inputDate">Fecha</label>  
  <div class="col-md-4">
  <input id="dateMaster" type="datetime-local" class="form-control  input-md">

		

  </div>
</div>



<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-primary" (click)="onClick($event)" id="setGeneral">Liquidar</button>
	
  </div>
</div>


</fieldset>

		</form>
	</div>
</div>










<!--



<div class="container" id="masterHeader">
	<form>
		<div class="form-group">
			<br>
			<label for="inputType">Tipo de liquidación:</label>
			<select id="typeMaster">
 				<option>Nómina</option>
				<option>Prima</option>
				<option>Cesantías</option>
				<option>Intereses de Cesantias</option>
			</select><br>

			<label for="inputArea">Area:</label>
			<select id="areaMaster">
 				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select><br>
			<label for="inputDate">Fecha:</label>
			<input id="dateMaster" type="datetime-local" class="form-control"><br>
		</div>
		<button type="submit" class="btn btn-primary">Liquidar</button>
	</form>
</div>

-->


<div class="page-header"> <h3>Ver liquidaciones recientes</h3></div>
<div class="container" id="masterFooter">
	<div id="masterTable" class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let liquidation of liquidations.data" [class.selected]="liquidation === selectedLiquidation" (click)="onSelect(liquidation)">
					<td>{{liquidation.payday_type}}</td>
					<td>{{liquidation.payday_date}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div *ngIf="selectedLiquidation">




