<body>
	<div class="container">
	  <div class="form-group">
		<button class="btn btn-info btn-lg col-xs-3" (click)="loadG1()">Salarios por Empleado</button>
		<button class="btn btn-warning btn-lg col-xs-3" (click)="loadG2()">Novedades por Empleado</button>
		<button class="btn btn-danger btn-lg col-xs-3" (click)="loadG3()">Neto Devengado por Empleado</button>
		<button class="btn btn-success btn-lg col-xs-3" (click)="loadG4()">Vacaciones por Empleado</button>
	  </div>
	</div>
	<div class="container" *ngIf="isDataAvailable">
	  <canvas baseChart
		[datasets]="barChartData"
		[labels]="barChartLabels"
		[options]="barChartOptions"
		[legend]="barChartLegend"
		[chartType]="barChartType"
		(chartHover)="chartHovered($event)"
		(chartClick)="chartClicked($event)"></canvas>
	</div>
</body>