<h1>Usuarios</h1>
<div class="page-header"> <h3>Usuarios</h3></div>
<div class="container" id="statistic">
	<div id="statisticTable" class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Identificador</th>
					<th>Rol</th>
					<th>Empleado</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let statistic of statistics.data" [class.selected]="statistic === selectedStatistic" (click)="onSelect(statistic)">
					<td>{{statistic.user_name}}</td>
					<td>{{statistic.user_role}}</td>
					<td>{{statistic.employee.first_name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div *ngIf="selectedStatistic">